{% extends "base.html" %}
{% load static %}


{% block title %}{{item.fakultet}}{% endblock title %}
{% block content %}
<div class="container">
  <div class="wrapper">
    <div class="photo">
      {% if item.image %}
      <img id="img" src="{{ item.image.url }}" alt="">
      {% else %}
      <p>Ushbu obyekt haqida serverga rasm yuklanmagan</p>
      {% endif %}
    </div>

    <div class="text">
      <div class="scrollable-div">
        <p id="namepotato">{{ item.name }}</p>
        <p id="textbig">{{ item.text }}</p>
        <p><b>Chop etilgan vaqt:</b> {{ item.created_at }}</p>
      </div>
      <div class="logo">
        <button type="button"  id="log1" class="btn" data-toggle="modal" data-target="#exampleModalCenter1"><img src="{% static 'images/png/audio.png' %}" alt=""></button>
        <button type="button" id="log2" class="btn" data-toggle="modal" data-target="#exampleModalCenter2"><img src="{% static 'images/png/movie.png' %}" alt=""></button>
        <button type="button"  id="log3" class="btn" data-toggle="modal" data-target="#exampleModalCenter3"><img src="{% static "images/png/qr.png" %}" alt=""></button>
      </div>
    </div>
  </div>
  
</div>



<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body" id="Audio">
              <figure>
                <figcaption>Audio</figcaption>
                {% if item.audio %}
                <audio controls src="{{ item.audio.url }}"></audio>
                {% else %}
                <p> Audio kiritmadingiz</p>
                {% endif %}
                
              </figure>
              
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

          <div style="width:100%; height:100%;" class="modal-body" id="Video">
            <video width="100%" height="100%" controls>
              {% if item.video %}
              <source src="{{ item.video.url }}" type="video/mp4">
              {% else %}
              <p>Video kiritmadingiz</p>
              {% endif %}
              Your browser does not support the video tag.
            </video>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

        <div class="modal-body" id="Qr">
            
            <a href="{% url 'download_qr_code' item.pk %}"><img id="pngqr" src="{{ qrcode }}"><p id='qrtext'>Yuklash</p></a>
          
        </div>
    </div>
</div>
</div>

 <script>
  function changeImage() {
    const image = document.getElementById('moons');
    const currentSrc = image.getAttribute('src');
  
    if (currentSrc === '{% static "images/png/sun.png" %}') {
      image.src = '{% static "images/png/moon.png" %}';
    } else {
      image.src = '{% static "images/png/sun.png" %}';
    }
  }
  document.addEventListener("DOMContentLoaded", function() {
    // Слушаем событие при закрытии модального окна с аудио
    $('#exampleModalCenter2').on('namehidden.bs.modal', function (e) {
      let video = document.getElementById('Video');
      let videoPlayer = video.querySelector('video');
      videoPlayer.pause(); 
    });

    $('#exampleModalCenter1').on('hidden.bs.modal', function (e) {
      let audio = document.getElementById('Audio');
      let audioPlayer = audio.querySelector('audio');
      audioPlayer.pause(); 
    });
  });
</script>




{% endblock content %}
