* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    contain: layout;
  
}
body::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card
{
    position: relative;
    width: 480px;
    height: 500px;
    margin: 60px;
    box-shadow: 20px 20px 50 px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}  
.container .card .content
{
    padding: 5px;
    text-align: center;
    width: 450px;
    height: 450px;
}
.container .card .content h2
{
    position: absolute;
    top: -50px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}
.container .card .content h3
{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}
.container .card .content p
{
    font-size: 1.2em;
    color: #111;
    font-weight: 500;
    text-align:justify;

}
.container .card .content button:hover
{
   transform: scale(1.2);    
}
button
{
    margin: 30px;
}
.container .card .content .img
{
    position: relative;
    justify-content: center;
    align-items: center;
    
    
}
.container .card .content .img img
{
   width: 400px;
   height: 400px;
}
.btn_box
{
   width: 80px;
   height: 80px;
   border-radius: 50%;
   box-shadow: 20px 20px 50 px rgba(0, 0, 0, 0.5);
   background: rgba(255, 255, 255, 0.1);
   border-top: 1px solid rgba(255, 255, 255, 0.5);
   border-left: 1px solid rgba(255, 255, 255, 0.5);
   border-right: 1px solid rgba(255, 255, 255, 0.5);
   border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.btn_box img
{
    width: 50px;
    height: 50px;
}
  .QR .qrcode
  {
   width: 106px;
   height: 106px;
   border-radius: 20px;
   box-shadow: 20px 20px 50 px rgba(0, 0, 0, 0.5);
   background: rgba(255, 255, 255, 0.1);
   border-top: 1px solid rgba(255, 255, 255, 0.5);
   border-left: 1px solid rgba(255, 255, 255, 0.5);
   border-right: 1px solid rgba(255, 255, 255, 0.5);
   border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .QR .qrcode img
  {
    width: 90px;
    height: 90px;
  }
  .QR
  {
    position: static;
    bottom: 10%;
    right: 10%;
    overflow: hidden;
    display: flex;
    backdrop-filter: blur(5px);
  }
  .qrcode:hover
  {
    transform: scale(1.1) 
  }
  .tx
  {
  width: 450px; 
  overflow-x: auto;
  height: 300px; 
  display: flex;
  align-items: flex-start;
  direction: rtl;
  }
  .content::-webkit-scrollbar {
    width: 0;
    height: 0;
  } 
   
.logo
{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgba(34, 35, 36, 0.829);
    margin-bottom: 25px;
    justify-content: center;
    justify-items: center;
    display: flex;
}
.logo img{
    width: 100px;
    height: 100px;
    
    position: relative;
}
.logo h4
{
    color: #fff;
    font-size: 1.8em;
    position: relative;
    box-shadow: #fff;
    text-shadow: #fff;
    margin-top: 27px;
}
.logo div{
    background-color: #fff;
    width: 7px;
    height: 80px;
    margin: 10px;
}
.icon {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }

  .scrolling-background {
    position: absolute;
    top: 0;
    left: 0; /* Start from the left edge */
    width: 100%; /* Same width as container */
    height: 100%; /* Same height as container */
    animation: scrollDown 15s linear infinite;
    animation-iteration-count:infinite;
  
  }
  
  @keyframes scrollDown {
    from { transform: translateY(-100%); } /* Start offscreen top */
    to { transform: translateY(100%); } /* End at the bottom */
  }
  